.shopping_list{
  padding: 40px 0;
}

.list{
  width: 100%;
  margin: 40px 0;
}

.functional{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.inputs{
  margin-right: 40px;
  width: 400px;
}

