.shopping_list{
  padding: 40px 0;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.list{
  width: 75%;
}

.functional{
  width: 20%;
  &_title{
    margin-top: 0;
  }
}

.shopping_btn{
  width: 100%;
}
