$mainColor: #1cab95;


//filters
$filterToMainColor: invert(48%) sepia(99%) saturate(350%) hue-rotate(121deg) brightness(94%) contrast(90%);
$filterToRed: invert(9%) sepia(98%) saturate(5816%) hue-rotate(6deg) brightness(94%) contrast(104%);

